# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore
!/.gitattributes
!/.editorconfig
!.golangci.yaml
!.env.sample

!.github/CODEOWNERS
!.github/**/*.yaml
!.pre-commit-config.yaml

!*.go
!*.templ
!*.js
!./web/static/css/styles.css
!go.sum
!go.mod
!.air.toml

!README.md
!LICENSE
!AUTHORS

!*.nix
!flake.lock

!justfile

# ...even if they are in subdirectories
!*/

# Except generated Go template files
*_templ.go
