@import "tailwindcss";

@font-face {
  font-family: "Geist Mono";
  src: url("../font/geist/GeistMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.1548 0.0021 286.15);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0.1548 0.0021 286.15);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.3677 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.5245 0.2084 259.5);
  --accent-foreground: oklch(0.5245 0.2084 259.5);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --border-primary: oklch(0.9073 0.0027 286.35);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
	--background: oklch(0.1548 0.0021 286.15);
    --foreground: oklch(1 0 0);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --primary: oklch(0.1548 0.0021 286.15);
    --primary-foreground: oklch(1 0 0);

    --secondary: oklch(0.2578 0.0074 285.87);
    --secondary-foreground: oklch(0.7797 0.0014 286.37);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: oklch(0.7709 0.121764 249.6655);
    --accent-foreground: oklch(0.7709 0.121764 249.6655);

    --destructive: oklch(0.704 0.191 22.216);

    --border: oklch(1 0 0 / 10%);
	--border-primary: oklch(0.3426 0.0086 285.93);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);

    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);

    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);

    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);

    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }
}

@layer base {
  body {
	font-family: "Geist Mono", monospace;
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .border-primary {
    @apply border-[var(--border-primary)];
  }
  .focus-within-ring {
    @apply focus-within:ring-1 focus-within:ring-blue-500;
  }
  .focus-within-noring {
    @apply focus-visible:ring-0 focus-visible:outline-none;
  }
  .log-grid {
    grid-template-columns: 14rem 5rem 1fr;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-primary);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
