name: Coverage
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  coverage:
      runs-on: ubuntu-latest
      steps:
      - name: Update coverage report
        uses: ncruces/go-coverage-report@v0
        with:
          report: 'true'
          chart: 'true'
          amend: 'true'
