name: Coverage
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.x

      - name: Install templ
        run: go install github.com/a-h/templ/cmd/templ@v0.3.865

      - name: Generate templates
        run: templ generate

      - run: |
          touch coverage-file.txt
          go test ./... -coverpkg "$(go list || go list -m | head -1)/..." -coverprofile coverage-file.txt
          grep -v '_templ\.go' coverage-file.txt > coverage-filtered.txt

      - name: Update coverage report
        uses: ncruces/go-coverage-report@v0
        with:
          coverage-file: 'coverage-filtered.txt'
          report: 'true'
          chart: 'true'
          amend: 'true'
